{% extends 'base.html' %}

{% block content %}
  <!-- 배경 영상 코드 추가 -->
  <video autoplay loop muted playsinline style="position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; z-index: -1;">
    <source src="{% static '/images/chip_84086.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- 홈 화면의 나머지 콘텐츠 -->
  <div class="home-content" style='color:white'>
    <i class='bx bx-menu'></i>
    <span class="text"></span>
  </div>
{% endblock %}
